<%= form_for @lesson, :html => { :class => 'form-horizontal form-model' } do |f| %>
<div class="form-group">
	<div class="row">
		<div class="col-md-2">
			<%= f.label :lesson_title, :class => 'control-label col-md-2' %>
		</div>
		<div class="col-md-10">
			<%= f.text_area :lesson_title, :class => 'text-field form-control' %>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-2">
			<%= f.label :isPrivate, :class => 'control-label col-md-2' %>
		</div>
		<div class="col-md-10">
			<%= f.check_box :isPrivate, :class => 'control-label' %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<%= f.add_nested_fields_link :questions, 'Add question' %>
		</div>
	</div>	
	<%= f.nested_fields_for :questions do |ff| %>

	<div class="row">
		<div class="control-label col-md-2">
			<%= ff.remove_nested_fields_link 'x' %>
		</div>
			
		<div class="col-md-10">
			<%= ff.text_area :question, :class => 'text-field form-control' %>
		</div>
	</div>
	<% end %>


	<div class="row">
		<div class="col-md-2">
			<%= f.submit nil, :class => 'btn btn-primary' %>
		</div>
		<div class="col-md-2">
			<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
			lessons_path, :class => 'btn btn-default' %>
		</div>
	</div>
</div>
<% end %>
