<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @lesson.user %>
</p>

<p>
  <strong>Lesson title:</strong>
  <%= @lesson.lesson_title %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
